- content_for :document_ready do
  setTimeout( function() { window.location.replace("http://www.theaceys.com") }, 3000);
#thank-you.vertically-centered
  %h1 Thank you for voting!
  %p
    Visit
    %a{:href => @link}
      = "#{request.scheme}://#{request.host}/results"
    for real-time leaderboard
    %br
    or scan this barcode with your smartphone:
    %br
    %img{ :src => "http://chart.apis.google.com/chart?chs=200x200&cht=qr&chl=#{CGI::escape(request.scheme + '://' + request.host + @link)}",
          :width => '200',
          :height => '200' }
