* {
	margin: 0;
}
html, body {
	height: 100%;
}
#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -35px; /* the bottom margin is the negative value of the footer's height */
	background: -webkit-gradient(linear, left top, left bottom, from(#ececec), to(#ffffff));
	background: -moz-linear-gradient(top,  #f8fcff,  #efefef);
}
#push {
	height: 35px; /* .push must be the same height as .footer */
}
#border-top{
  border-top: solid 10px #00b42d;
  width: 100%;
  margin: 0;
  padding: 0;
}
#logo img {
  border: none;
  outline: none;
}
#logo {
text-decoration: none;
}
#footer {
  border-bottom: solid 10px #0055ab;
  height: 25px;
}
#footer p {
  font-size: 0.8em;
}

/*

Sticky Footer by Ryan Fait
http://ryanfait.com/

*/

#container, .contained {
  width: 100%;
  max-width: 1024px;
  margin: auto;
}
h1, h2, h3, h4 {
  font-family: 'Josefin Sans', arial, sans-serif;
  width: auto;
}
h1 {
  font-size: 3em;
  padding: 25px 0 15px;
}
h2 {
  font-size: 2em;
  padding: 25px 0 15px;
}
h3 {
  font-size: 1em;
}

.subheading {
  font-size: 1em;
  padding: 0;
}

#border-top .subheading {
  margin-left: 10px;
}

p, table {
  font-family: arial, sans-serif;
}

input {
	text-shadow: 0px 1px 0px #fff;
	outline: none;
	background: -webkit-gradient(linear, left top, left bottom, from(#ececec), to(#ffffff));
	background: -moz-linear-gradient(top,  #ececec,  #fff);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #717171;
	-webkit-box-shadow: 1px 1px 0px #efefef;
	-moz-box-shadow: 5px 5px 5px #ccc, 1px 1px 0px #efefef;
	box-shadow:  1px 1px 0px #efefef;
}

#homepage input {
	padding: 5px 15px;
	font-size: 2em;
}

input:focus {
	-webkit-box-shadow: 0px 0px 20px #00b42d;
	-moz-box-shadow: 0px 0px 20px #00b42d;
	box-shadow: 0px 0px 20px #00b42d;
}

input.submit {
  display: inline-block;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dadada));
  background: -moz-linear-gradient(top,  #fff,  #dadada);
  cursor: pointer;
}

#homepage, #thank-you {
  text-align: center;
}

#results-table {
  margin: 30px 0;
  font-size: 1.1em;
}

#results-table .place {
  text-align: center;
}

#footer {
  text-align: center;
}

.vertically-centered {
	position:absolute;
	top: 50%;
	left: 50%;
	width:100%;
	height:18em;
	margin-top: -9em; /*set to a negative number 1/2 of your height*/
	margin-left: -50%; /*set to a negative number 1/2 of your width*/
}

#leaders-chart {
  width: 100%;
}
#all-companies {
}
